﻿#tabla{
    width:100%
}

span {

font-family: sans-serif;
}

.contenedor{
    border-style: solid;
    border-width: 1px;    
    display:inline-block;
    vertical-align:middle;    
}

#fila-sup{
    height: 200px;    
    padding: 10px;
}

#fila-inf{
    height: 50%;    
    padding: 5px 10px;
}

#map-dashboard{    
    border-style: solid;
    border-width: 1px;
    border-color: #7F7F7F;
    border-radius: 4px;
}

#mapa{       
    border: 1px solid #CCC;
    box-shadow: 0 0 5px #B6B6B6;
    overflow: hidden;
    border-radius: 4px;
}

#container-donut {

    display:inline-block;
    width: 100%;
    
    border: 1px solid #CCC;
    box-shadow: 0 0 5px #B6B6B6;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom:10px;
    overflow: hidden;
    border-radius: 4px;
    background-color: #FFFFFF;
    height:100%;
}

#title-donut {
    text-align:center;
    padding: 1px;
    margin:10px 10px 0 10px;
    color:#000000;
    font-size:20px;
    font-family: sans-serif;
}


.infobox {
    width: 24%;
    display:inline-block;
    margin-left: 3px;
    vertical-align: middle;
    height: 60%;
    background-color: #FFFFFF;
    border: 1px solid #CCC;
    box-shadow: 0 0 5px #B6B6B6;
    padding-left: 3px;
    padding-right: 3px;
    overflow: hidden;
    border-radius: 4px;
}

.container {
    background-color: #FFFFFF;
    padding: 5px;
    color: rgba(0, 0, 0, 0.4);
    position: relative;
    border-radius: 4px;
}

.container .headline {
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
}

.container .headline h3 div {
    background-color: #FFA200;
    border-radius: 5px;
    padding: 3px;
    margin:5px;
    text-align: center;
}

.container .value {
    border-radius: 6px;
    font: 2em Open Sans;
    letter-spacing: -3px;
    position: relative;
    text-align: center;
    color: #FFA200;
}

.container .value span {
    font-size: 30px;
    margin-right: 5px;
    position: relative;
    /*top: -20px;*/
}

.container .bottom-line {
    border-radius: 6px;
    letter-spacing: -3px;
    position: relative;
    text-align: center;
    color: #7F7F7F;
    margin-top: 60px;
}

.container .bottom-line span {
    font-size: 20px;
    margin-right: 5px;
    position: relative;
}

.cont-left{
    display:inline-block;
}

.cont-right{
    display:inline-block;
    text-align:middle;
    font-size: 40px;
    text-align:center;
}

.double-box{
    width: 24%;
    display:inline-block;
    vertical-align: middle;
    height: 60%;
    border: 1px solid #CCC;
    box-shadow: 0 0 5px #B6B6B6;
    padding-left: 3px;
    padding-right: 3px;
    overflow: hidden;
    border-radius: 4px;

    background-color:#0154A0;
}

.cont-img{  

    text-align:center;

}

.cont-desc{
    background-color: #0154A0;
    color: #FFFFFF;
    text-align: center;
}

table {
    width:100%;
    height: 50%;
    background-color: #0154A0;
}



.headline{    
    background-color: #FFA200;
    border-radius: 5px;
    padding: 3px;
    margin:10px;
    text-align: center;
    color:#FFFFFF;
    font-size:12px;
    font-family: sans-serif;
}

.value{    
    padding: 5px 5px 5px 5px;
    margin:5px;
    text-align: center;
    font-size:40px;
}

.bottomline{    
    padding: 5px;
    text-align: center;
    margin-bottom:5px;
    font-size:20px;
    text-align: center;
    color:  #7F7F7F;
    visibility:hidden;
}