﻿.addRegTemp  
{
    background-image: url(../images/icons/addRegTemp.png);
    background-repeat: no-repeat;
    background-position: 7px;
    padding: 5px 5px 5px 25px;
}
.modRegTemp
{
    background-image: url(../images/icons/modRegTemp.png);
    background-repeat: no-repeat;
    background-position: 7px;
    padding: 5px 5px 5px 25px;
}
.delRegTemp
{
    background-image: url(../images/icons/delRegTemp.png);
    background-repeat: no-repeat;
    background-position: 7px;
    padding: 5px 5px 5px 25px;
}
.cancelRegTemp
{
    background-image: url(../images/icons/cancelRegTemp.png);
    background-repeat: no-repeat;
    background-position: 7px;
    padding: 5px 5px 5px 25px;
}