﻿.color
{
	border-radius: 5px;
    width:25px;
    height:25px;   
}

.descripcion{
    width:120px;
    height:25px;
    text-align:left;
    padding-left:10px;    
}

.contenedor{
    width:100%;
    padding:5px;
    text-align:center;
}

.hijo{
    display:inline-block;
    vertical-align:middle;
}

.texto
{
	display: inline-block;
    vertical-align: middle;
    line-height: 2;
}